@import "./app/scss/variables.scss";

.infor-block{
    width: 50%;
    display: flex;
    flex-direction: row;

    .infor-label{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img{
            width: 1.7em;
        }
        span{
            color: $white;
            font-size: 0.8em;
        }
    }

    .infor-values{
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $white;
    }
}