<app-weather-details 
  iconSrc="/src/assets/img/min1.png"
  label="min"
  [value]="weatherData?.main?.temp_min| number: '1.0-0'" 
  unit="°C"
></app-weather-details>
<!-- weatherData?.main?.temp_min| number: '1.0-0' -->

<app-weather-details 
  iconSrc="/src/assets/img/max1.png"
  label="max"
  [value]="weatherData?.main?.temp_max| number: '1.0-0'"
  unit="°C"
></app-weather-details>
<!-- weatherData?.main?.temp_max| number: '1.0-0' -->

<app-weather-details
  iconSrc="/src/assets/img/humidity3.png"
  label="humidity"
  [value]="weatherData?.main?.humidity | number"
  unit="%"
></app-weather-details>
<!-- weatherData?.main?.humidity -->

<app-weather-details
  iconSrc="/src/assets/img/wind1.png"
  label="Wind"
  [value]="weatherData?.wind?.speed | number"
  unit="km/h"
></app-weather-details>
<!-- weatherData?.wind?.speed -->