@import "../scss/variables";

.container{
    width: 500px;
    height: 70vh;
    background-color: $blue-2;
    border-radius: 10px;
    box-shadow: 10px 10px 10px $shadow-dark;

    .upper-data{
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 50%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .lower-data{
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 50%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 1em;
        display: flex;
        flex-direction: column;
       
    }
}

.search{
    margin: 0 0 1em 0;
    text-align: center;
}



