<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search City" name="city" [(ngModel)]="cityName">
  </form>
</div>


<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="../assets/hot.jpg" alt="" *ngIf="weatherData.main.temp > 15">
    <img src="../assets/cold.jpg"  alt="" *ngIf="weatherData.main.temp <= 15">

    <div class="weather-data">
      <div class="location">
        {{weatherData.name}}
      </div>
      <div class="temperature">
        {{ weatherData.main.temp | number: '1.0-0'}}°C
      </div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info">
      More Information
    </div>
    <div class="more-info-container">
      <div class="infor-block">
        <div class="infor-label">
          <img src="../assets/min1.png" alt="">
          <span>min</span>
        </div>
        <div class="infor-values">
          {{weatherData.main.temp_min | number: '1.0-0'}}°C
        </div>
      </div>

      <div class="infor-block">
        <div class="infor-label">
          <img src="../assets/max1.png" alt="">
          <span>max</span>
        </div>
        <div class="infor-values">
          {{weatherData.main.temp_max | number: '1.0-0'}}°C
        </div>
      </div>

      <div class="infor-block">
        <div class="infor-label">
          <img src="../assets/humidity3.png" alt="">
          <span>humidity</span>
        </div>
        <div class="infor-values">
          {{weatherData.main.humidity}}%
        </div>
      </div>

      <div class="infor-block">
        <div class="infor-label">
          <img src="../assets/wind1.png" alt="">
          <span>Wind</span>
        </div>
        <div class="infor-values">
          {{weatherData.wind.speed}} km/h
        </div>
      </div>

    </div>
  </div>

</div>


<!-- <div class="body">
  <div class="container">
    <div class="upper-data">
      <img src="../assets/hot.jpg" alt="" *ngIf="16 > 17">
      <img src="../assets/cold.jpg"  alt="" *ngIf="16 <= 17">

      <div class="weather-data">
        <div class="location">
          Town
        </div>
        <div class="temperature">
          {{ 16.31 | number: '1.0-0'}}°C
        </div>
      </div>
    </div>
    <div class="lower-data">
      <div class="more-info">
        More Information
      </div>
      <div class="more-info-container">
        <div class="infor-block">
          <div class="infor-label">
            <img src="../assets/min1.png" alt="">
            <span>min</span>
          </div>
          <div class="infor-values">
            10°C
          </div>
        </div>

        <div class="infor-block">
          <div class="infor-label">
            <img src="../assets/max1.png" alt="">
            <span>max</span>
          </div>
          <div class="infor-values">
            20°C
          </div>
        </div>

        <div class="infor-block">
          <div class="infor-label">
            <img src="../assets/humidity3.png" alt="">
            <span>humidity</span>
          </div>
          <div class="infor-values">
            75%
          </div>
        </div>

        <div class="infor-block">
          <div class="infor-label">
            <img src="../assets/wind1.png" alt="">
            <span>Wind</span>
          </div>
          <div class="infor-values">
            12km/h
          </div>
        </div>

      </div>
    </div>
  
  </div>
</div> -->

<router-outlet></router-outlet>
